# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log

# Pytest / coverage
.pytest_cache/
.coverage

# Build files
dist/
build/

# Mypy cache
.mypy_cache/